<template name="Home">

    <div style="padding: 0 20px">
        <h2 class="ui header">
            <i class="circular users icon"></i>
            <div class="content">
                Kanban<br/>
                Bem-vindo {{ nomeUsuario }}
            </div>
        </h2>
    </div>

    <div class="kanban">
        <div class="kanban-inner">

            <div class="status-columns">
                {{#each status}}
                <div class="status-column">
                    {{> StatusItem}}
                </div>
                {{/each}}
            </div>

            <div class="circular ui icon green button" id="btn-novo-status">
                Novo <i class="icon add"></i>
            </div>

            <div class="ui modal" id="modal-novo-status">
                <i class="close icon"></i>
                <div class="header">
                    Status
                </div>
                <div class="content">
                    <div class="ui form">
                        <input type="hidden" name="_id" />

                        <div class="field">
                            <label>Nome</label>
                            <input type="text" name="nome" placeholder="Nome">
                        </div>

                        <div class="inline fields campo-cores">
                            <label for="fruit">Cor:</label>

                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="cor" value="CCCCCC" checked="checked">
                                <label><div style="width:20px; height: 20px; background: #CCCCCC"></div></label>
                              </div>
                            </div>

                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="cor" value="6AD2BA">
                                <label><div style="width:20px; height: 20px; background: #6AD2BA"></div></label>
                              </div>
                            </div>

                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="cor" value="A0CBDA">
                                <label><div style="width:20px; height: 20px; background: #A0CBDA"></div></label>
                              </div>
                            </div>

                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" name="cor" value="D5B7B7">
                                <label><div style="width:20px; height: 20px; background: #D5B7B7"></div></label>
                              </div>
                            </div>

                          </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui red button" id="btn-fechar-modal-novo-status">
                        Cancelar
                    </div>
                    <div class="ui positive right labeled icon button" id="btn-confirmar-status">
                        Criar
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<template name="StatusItem">
    <div class="status" style="background: #{{cor}}; border: 2px solid #999" data-id="{{_id}}">
        <div class="ui dropdown button" id="btn-criar-tarefa">
            <i class="plus icon"></i>
            Tarefa
        </div>

        <div class="ui modal modal-nova-tarefa">
            <i class="close icon"></i>
            <div class="header">
                Tarefa
            </div>
            <div class="content">
                <div class="ui form">
                    <div class="field">
                        <label>Tarefa</label>
                        <input type="text" name="tarefa" placeholder="Tarefa">
                    </div>
                    <div class="field">
                        <label>Descrição</label>
                        <input type="text" name="descricao" placeholder="Descricao">
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui red button btn-fechar-modal-nova-tarefa">
                    Cancelar
                </div>
                <div class="ui positive right labeled icon button btn-confirmar-tarefa">
                    Criar
                </div>
            </div>
        </div>

        <div class="ui icon top left pointing dropdown button">
            <i class="wrench icon"></i>
            <div class="menu">
                <div class="item" id="btn-editar-status">Editar</div>
                <div class="item" id="btn-deletar-status">Deletar</div>
            </div>
        </div>

        <i class="move icon StatusItem"></i>

        <h5 class="ui top attached header">
            {{nome}}
        </h5>

        <div class="ui modal" id="historico-tarefa">
            <i class="close icon"></i>
            <div class="header">
                Histórico da Tarefa "Tarefa #1"
            </div>
            <div class="content">
                <div class="ui feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <a class="user">
                                    Alan
                                </a> alterou para status finalizado
                                <div class="date">
                                    1 Hora Atrás
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <a class="user">
                                    Renan
                                </a> alterou para status desenvolvimento
                                <div class="date">
                                    2 Horas Atrás
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <a class="user">
                                    Róger
                                </a> alterou para status backlog
                                <div class="date">
                                    3 Horas Atrás
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui button">Fechar</div>
            </div>
        </div>

        <div class="ui attached segment lista-tarefas" style="min-height: 30px">
            {{#each tarefas}}
            {{> TarefaItem}}
            {{/each}}
        </div>
    </div>
</template>

<template name="TarefaItem">
    <div class="ui vertical segment">
        <div class="task" data-id="{{_id}}">
            <div class="ui card">
                <div class="content">
                    <div class="header">{{tarefa}} #{{count}}</div>
                    <div class="description">
                        <p>{{descricao}}</p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author">
                        <img class="ui avatar image" src="/images/avatar ({{ profile.avatar }}).jpg"> {{ profile.nome }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
